@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Work+Sans:wght@500&display=swap');

.bgCol1{
background-color: #302d2a;
}

.myFont{
    font-family: 'Press Start 2P';
}

.blur {
filter: blur(2px);
}