@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Work+Sans:wght@500&display=swap');

.bgCol1{
background-color: #EAE5DD;
}
.bgCol2{
    background-color: #E2DBD1;
   }

.myFont{
    font-family: 'Press Start 2P';
    color: rgb(29, 29, 29);
}
.myFont1{
    font-family: 'Work Sans';
    color: rgb(54, 54, 54);
}

.blur {
filter: blur(2px);
}

